body {
	width: 80%;
	margin: auto;
	font-family: Verdana, sans-serif;
}

hr {
	border: 1px solid #6278b0;
}

header > div {
	text-align: center;
	border: 5px solid #6278b0;
	border-radius: 5px;
	padding-bottom: 20px;
}

main {
	border: 5px solid #6278b0;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 10px;
}

.no-decoration{
	text-decoration: none;
	color: black;
}

.marginBottom {
	margin-bottom: 0.2rem
}

.marginTop {
	margin-top: 0.2rem
}

.menu{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #1c74cc;
	overflow: hidden;
	margin: 20px 0px;
	color: white;
}

.menu>li{
	float: left;
	padding: 20px;
}

.menu>li:hover, .selected{
	cursor: pointer;
	color: white;
	background-color: #508ac4;
}

#floatLeft {
	float: left;
}

#floatRight {
	float: right;
	margin-right: 5rem;
}

#overflow {
	overflow: hidden;
}

footer {
	margin-top: 20px;
	text-align: center;
}


@media only screen and (max-width: 800px) {
  footer {
  	overflow: visible;
  }

  #floatRight, #floatLeft {
  	float: none;
  	padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .menu{
  	font-size: 0.8rem;
  }
}

@media only screen and (max-width: 520px) {
	.menu>li{
		padding: 8px;
	}
}